.createInput {
    width: 150px;
    font-size: 13px;
    height: 20px;
    text-align: center;
    justify-content: center;
    border-radius: 1px;
    background-color: #aa998c;
    border: none;
    font-weight: bold;

}

h1 {
    text-align: center;
    display: none;
}

.create-item-desc label {

    margin-top: -30px;
    margin-left: auto;

}

.create-item-desc {
    margin-top: 15px;
    display: flex;
    ;
}



.createInput-desc {
    position: fixed;
    height: 120px;
    width: 400px;
    color: rgb(255, 255, 255);
    background-color: #aa998c;

    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.6);

}

.holder {

    justify-content: center;
    background-color: #344751;
    width: 700px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    height: 600px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.6);
    margin-top: 70px;

}

.currency {
    font-weight: bold;
    margin: 3px;
    width: 55px;
    float: right;
    color: rgb(0, 0, 0);
    background-color: #aa998c;

}

.currency:focus {
    outline: solid 2px rgb(255, 255, 255);
    color: black;
}

.createInput:focus {
    outline: solid 2px rgb(255, 255, 255);
}


.createInput {
    color: rgb(0, 0, 0);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.7);

}

.holder ::placeholder {
    color: rgb(92, 92, 92);
}

.create-form {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.create-item {
    margin-top: 15px;
    
    display: flex;
    flex-direction: column;
}

.create-item label {
    margin-bottom: 5px;
    text-align: center;
}

.create-item-btn {
    display: flex;
    justify-content: end;
    grid-column: span 3;
}

.create-item-btn button {
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 14px;
    background-color: rgb(7, 127, 59);
    transition: 0.5s;
    border: none;
}

.create-item-btn button:hover {
    font-size: 14px;
    background-color: rgb(34, 187, 65);
    transition: 0.5s;
    border: none;
    outline: none;
}

.create-item-images {
    width: 600px;
    position: absolute;
    bottom: 10px;
    margin-left: -50px;
}

.create-item-images input {
    width: 100px;
    float: left;
    height: 50px;
    font-size: 20px;
}

.create-item-images label {
    position: absolute;
    top: -30px;

}