.createInput {
    width: 150px;
    font-size: 15px;
    height: 25px;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    background-color: #383431;
    outline: solid 2px #4a4a4a;
}

h1 {
    text-align: center;
    display: none;

}

.create-item-desc label {
    margin-top: -28px;
    margin-left: auto;
}

.create-item-desc {
    margin-top: 43px;
    display: flex;
}

.createInput-desc {
    position: fixed;
    height: 120px;
    width: 400px;
    color: rgb(255, 255, 255);
    background-color: #383431;
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.6);
    outline: solid 2px #4a4a4a;
}

.holder {
    justify-content: center;
    background-color: #344751;
    width: 700px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    height: 600px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.6);
    margin-top: 70px;
}

.currency {
    position: absolute;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 156px;
    border-radius: 5px;
    width: 55px;
    height: 25px;
    float: right;
    color: rgb(31, 30, 30);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.6);
    background-color: #383431;
    outline: solid 2px #4a4a4a;
    color: #878989;
}

.currency:focus {
    outline: solid 2px #aa998c;
    color: black;
}

.createInput:focus {
    outline: solid 2px #aa998c;
}

.createInput {
    color: rgb(216, 216, 216);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.7);

}

.holder ::placeholder {
    color: #878989;

}

.create-form {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.create-item {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
}

.create-item label {
    margin-bottom: 5px;
    text-align: center;
}

.create-item-btn {
    display: flex;
    justify-content: end;
    grid-column: span 3;
}

.create-item-btn button {
    position: absolute;
    bottom: 10px;
    right: 30px;
    font-size: 14px;
    background-color: rgb(7, 127, 59);
    transition: 0.5s;
    border: none;
}

.create-item-btn button:hover {
    font-size: 14px;
    background-color: rgb(34, 187, 65);
    transition: 0.5s;
    border: none;
    outline: none;
}

.create-item-images {
    width: fit-content;
    position: absolute;
    bottom: 50px;
    margin-left: -50px;
}

.create-item-images input {
    width: 100px;
    float: left;
    height: 50px;
    font-size: 20px;
    border-radius: 3px;
}

.create-item-images input:focus {
    position: absolute;
    width: 300px;
    margin-top: -70px;
    left: 0px;
    outline: solid 2px #4a4a4a;

}

.create-item-images label {
    position: absolute;
}