.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(206, 202, 202);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

body {
    overflow: hidden;
}

.filter-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    animation: HideFilter 0.3s;
}

@keyframes ShowFilter {
    0% {
        margin-top: -550px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes HideFilter {
    0% {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width: 97%;
        border-radius: 60px;
        margin-top: 0px;
        animation: ShowFilter 1.5s;
    }

    50% {
        margin-top: -1050px;
    }

    70% {
        margin-top: 0px;
    }

    100% {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        animation: HideFilter 2s;
    }
}

.filter-holder-fixed {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: rgb(252, 252, 252); */
       background-color: rgb(122, 108, 108);
    height: 47%;
    /* height: 50%; */
    max-height: 299px;
    min-height: 220px;

    width: 97%;
    border-radius: 10px;
    margin-top: 0px;
    animation: ShowFilter 1.5s;
    z-index: 1;
}

.labelOption {
    justify-content: space-around;
}



.filter-options {
    position: relative;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
    color: white;
    min-width: 450px;
    min-height: 200px;
    margin-top: 20px;
    height: fit-content;
    max-width: 800px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 9);
}


/* filter options */
.filterInput {
    width: 100px;
    font-size: 13px;
    height: 20px;
    text-align: center;
}

.filterInput:focus {
    outline: inset 2px rgb(255, 255, 255);
}

.filter-form {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.filter-item {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.filter-item label {
    margin-bottom: 5px;
    text-align: center;
}

.filter-item-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-column: span 3;
}

.filter-item-btn button {
    margin-top: -10px;
    font-size: 11px;
    background-color: rgb(130, 135, 135);
    transition: 0.5s;
    border: none;

}

.filter-item-btn button:hover {
    font-size: 11px;
    background-color: rgb(164, 164, 164);
    transition: 0.5s;
    border: none; 
    outline: none;
}

/* filter options */


@media (max-width: 668px) {
    .filter-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:transparent;
        height: 100%;
        width: 100%;
        animation: HideFilter 0.3s;
    }

    .filter-holder-fixed {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        background-color: transparent;
        border-radius: 10px;
    }
    .filterInput {
        width: 60px;
        font-size: 13px;
        height: 17px;
        text-align: center;
    }
    .filter-options {
        min-width: 350px;
        min-height: 200px;
        max-width: 380px;
    }
}