.catalog-page {
    min-height: 100vh;
}

.catalog-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 45px;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}

.likeCar {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 2px;
    top: 3px;
    color: rgb(201, 201, 201);
    transition: 0.3s;
}

.likedCar {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    right: 2px;
    top: 3px;
    color: rgb(203, 0, 0);
    transition: 0.3s;
}

.likeCar:hover {
    position: absolute;
    top: 1px;
    transition: 0.2s;

}

.datePost {
    color: 'white';
    margin-top: -30px;
    font-size: 11;
}

.catalog-item {
    width: fit-content;
    margin: 10px;
    border-radius: 5px;
    transition: 1s;
    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid rgb(39, 39, 39);
    padding: 20px;
}

.description {
    margin-top: 18px;
    width: 300px;
    color: rgb(143, 137, 137);
    text-align: center;
}

.price {
    text-align: 'center';
    background-color: rgb(223, 137, 8);
    border-radius: 2px;
}

.shortInfo {
    text-align: center;
}


.catalog-item:hover {
    border: 1px solid rgb(209, 209, 209);
    box-shadow: 0px 0px 10px 0.1px rgba(255, 255, 255, 0.6);

    transition: 0.4s;
}

.catalog-item h3 {
    margin-top: 0;
    color: rgb(255, 255, 255);
}

.catalog-item p {
    margin: 5px 0;
    color: rgb(205, 205, 205);
}

.catalog-item img {
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .catalog-container {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 45px;
        justify-content: space-around;
    }

    .catalog-item {
        width: 126px;
        height: 230px;
    }

    .catalog-item img {
        width: 135px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .catalog-item p {
        margin: 5px 0;
        color: rgb(205, 205, 205);
        font-size: 9px;
    }

    .catalog-item h3 {
        margin-top: 0;
        color: rgb(255, 255, 255);
        font-size: 14px;
    }

    .description {
        margin-top: 4px;
        font-size: 7.5px;
        width: 130px;
        color: rgb(143, 137, 137);
        text-align: center;
    }

    .price {
        margin-top: -10px;
        text-align: 'center';
        background-color: rgb(223, 137, 8);
        border-radius: 2px;
        font-size: 19px;
        padding-left: 2.5px;
        padding-right: 2.5px;

    }

    .datePost {
        position: absolute;
        color: 'white';
        top: -2.5px;
        left: 10px;
    }
}