.likedPosts {
    width: 90%;
    height: 100%;
    border-radius: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0.5vw;
    background-color: rgb(45, 45, 45);
}

img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}



h3 {
    margin-top: 3px;
    text-align: center;
    color: black;
}






.likedHolder {
    margin-top: 20px;
    height: 330px;
    transition: background-color 0.5s;
}

.likedHolder:hover {
    background-color: rgb(223, 4, 4);
    height: 330px;
    transition: background-color 1.5s;

}

.likedHolder h2 {
    margin-top: -10px;
    font-size: 20px;
}

.likedCarInfo {
    margin: auto;
    width: 300px;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
}

.line {
    margin-top: -10px;
    background-color: white;
    width: 100%;
    margin-left: 5px;
    height: 1px;
}

/*------------>! Mobile !<------------- */
@media (max-width: 668px) {
    .likedHolder h2 {
        font-size: 20px;
        margin-top: 10px;
        margin-left: -15px;
    }

    .likedHolder p {
        margin-left: -20px;
        font-size: 8px;
    }

    .likedHolder img {
        min-width: 170px;
        width: 172px;
        margin-left: 0px;
    }


    .likedHolder {
        float: left;
        background-color: rgb(93, 93, 93);
        width: 100%;
        height: 300px;
        padding: 10px;
        border-radius: 10px;
        margin-top: 10px;
    }

    .likedPosts {
        width: 200px;
        height: 300px;
        justify-content: space-around;
        border-radius: 60px;
        background-color: rgb(34, 34, 34);
    }

    h2 {
        margin-top: -20px;
    }

    .likedCarInfo {
        text-align: start;
        width: 200px;
    }

    .line {
        margin-top: -10px;
        background-color: rgb(255, 255, 255);
        width: 100%;
        margin-left: -10px;
        height: 1px;
    }


}