.navbar {
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 3.5px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: start;
    align-items: center;
    top: 0;
}

.menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
    color: orange;
    transition: 0.3s;
}

.menu-loved {
    font-size: 2rem;
    color: orange;
    transition: 0.3s;
    position: absolute;
    top: 5px;
    right: 20px;
}

.menu-loved:hover {
    background-color: red;
    color: white;
}


.menu-bars:hover {
    color: white;
    transition: 0.3s;
}

.nav-menu {
    z-index: 2;

    background-color: #000000;
    width: 180px;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 32px;
    left: -100%;
    transition: 850ms;
    list-style: none;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    font-size: 15px;
    height: 60px;
    color: #f5f5f5;
}

.nav-text:hover {
    color: orange;
}

span {
    margin-left: 16px;
}