.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    background-color: #212324;

}

.content {
    background-color: #212324;
    position: relative;
}

.content h1 {
    margin-top: 100px;
    text-align: center;
}

.menu-filter {
    z-index: 4;
    background-color: #DC5F00;
    border-radius: 50px;
    width: 60px;
    font-size: 2rem;
    color: rgb(232, 232, 232);
    position: fixed;
    /* position: absolute; */
    bottom: 20px;
    right: 40px;
    text-align: center;
    transition: 0.3s;
}

.menu-filter:hover {
    width: 70px;
    color: rgb(32, 32, 32);
    transition: 0.3s;
}
