.profile-page {
    height: 100vh;
    margin-top: -25px;
    overflow-y: auto;
    text-align: center;

}

.profile-header {

    text-align: center;
    height: 300px;

}

.profile-header p {
    font-size: 30px;
    text-align: center;

}

.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
}

.profile-header h1 {
    font-size: 20px;
    margin-top: 10px;
}

.infoHolder {

    display: inline-block;
    padding: 20px;
    border-radius: 10px;

}

.profile-details {
    position: absolute;
    background-color: rgb(42, 42, 42);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    left: 20px;
    top: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.6);
}


.potatoHolder {
    position: absolute;
    overflow-y: auto;
    display: inline-block;
    border-radius: 10px;
    height: 310px;
    right: 20px;
    top: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.4);

}

.profile-cover {
    background-color: #DC5F00;
    width: 90vw;
    max-width: 800px;
    min-width: 500px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
}

.holderG {
    position: relative;
    height: 260px;
    width: 90vw;
    display: inline-block;
    align-items: center;
    background-color: #f1f0f0;
    padding: 40px;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 988px) and (min-width: 668px) {
    .profile-details {
        display: none;
    }

}

@media (max-width: 668px) {
    .holderG {

        position: relative;
        height: 550px;
        width: 294px;
        display: inline-block;
        align-items: center;
        background-color: rgb(146, 146, 146);
        padding: 40px;
        border-radius: 10px;
    }

    .potatoHolder {
        position: absolute;
        overflow-y: auto;
        background-color: rgb(146, 146, 146);
        display: inline-block;
        border-radius: 10px;
        height: 310px;
        width: 310px;
        top: 300px;
        left: 30px;
    }

    .profile-details {
        position: absolute;
        background-color: rgb(0, 0, 0);
        padding: 20px;
        width: 333px;
        left: 0px;
        border-radius: 10px;
    }
}