.carPosts {
    height: fit-content;
    width: 300px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}
.carInfo p{
    margin-top: 2px;

}
.profile-container {
    background-color: #273a45;
    border: 1px solid rgb(59, 59, 58);
    border-radius: 10px;
    min-height: 350px;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.6);
}

.profile-container img {
    height: 145px;
    border-radius: 10px;
}

.profile-container h2 {
    font-size: 20px;
}

.profile-container h3 {
    font-size: 20px;
    color: white;
}

.carInfo {
    text-align: center;
}

.removeLike {
    top: 10px;
    position: absolute;
    height: 30px;
    width: 35px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 13px;
    right: 10px;
    border: none;
    transition: 0.8s;
    outline: none;

}

.removeLike:hover {
    position: absolute;
    height: 30px;
    width: 35px;
    color: #e98233;
    right: 10px;
    transition: 0.3s;
    border: none;
}

.removeLike:focus {
    outline: none;
}


.editCar {
    top: 10px;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: transparent;
    color: rgb(183, 174, 174);

    font-size: 13px;
    right: 35px;
    border: none;
    transition: 0.2s;
    outline: none;
    transition: 0.8s;

}

.deleteCar {
    top: 10px;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: transparent;
    color: rgb(183, 174, 174);
    font-size: 13px;
    right: 10px;
    border: none;
    transition: 0.2s;
    outline: none;
    transition: 0.8s;
}

.deleteCar:hover {
    color: #e98233;
    transition: 0.3s;
}

.editCar:hover {
    color: #e98233;
    transition: 0.3s;

}