.carPosts {
    height: 100px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 220px;
    display: block;
    margin-left: 10px;

}

.profile-container {
    background-color: rgb(0, 0, 0);

    border-radius: 10px;

}

.profile-container img {
    height: 150px;
}

.profile-container h2 {
    font-size: 20px;
}

.profile-container h3 {
    font-size: 20px;
    color: white;
}

.carInfo {
    text-align: center;
    
}